<!DOCTYPE html>
<html lang="es-co">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/DataTables/css/responsive.dataTables.min.css">
    <link rel="shortcut icon" href="images/favicon.png" />
    @RenderSection("styles", required: false)
</head>
<body class="grey lighten-3">

    <div class="row">
        <!--Main Navigation-->
        <header>

            <!-- Navbar -->
            @{ Html.RenderAction("Navbar", "Layout"); }
            <!-- Navbar -->

        </header>
    </div>
    <div class="row">
        <div class="col-md-2">
            <!-- Sidebar -->
            @{ Html.RenderAction("Sidebar", "Layout"); }
            <!-- Sidebar -->
        </div>
        <div class="col-md-10">
            <!--Main Navigation-->
            <!--Main layout-->
            <main class="pt-5 mx-lg-5">
                <br />
                <br />
                @RenderBody()
                <!-- Modal -->
            </main>
            <!--Main layout-->
        </div>
    </div>

    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryvalidation")
    <script src=" ~/Scripts/bootstrap.min.js"></script>
    <script src=" ~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>    
    <script src="~/Scripts/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            $("#MenuClose").click(function () {
                $("#Sidebar").hide();
            });

            $("#LogoCatastro").click(function () {
                $("#Sidebar").show(); return false;
            });
        });

        function loadingModal() {
            $('#loadingModal').modal('show')
        }
    </script>

</body>
</html>
