@model ActualizarTrabajoViewModel
@{
    ViewBag.Title = "Actualizar Trabajo";
}

<div class="card mb-4 wow fadeIn">
    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Actualizar Trabajo</span>
        </h4>
    </div>
</div>

<div class="wow fadeIn">
    @using (Html.BeginForm("ActualizarTrabajo", "Trabajo", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id);
        <div class="form-horizontal">
            <div class="row">

                <div class="offset-md-3 col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Actualizar trabajo</h5>
                                    <hr />
                                    <div class="row form-group">
                                        <div class="col-md-5">
                                            <label class="control-label col-md-12">Nombre</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-5">
                                            <label class="control-label col-md-12">Rol</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownList("Rol", Model.Roles, "Seleccione", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-12" })
                                        </div>
                                        <div class="col-md-7">
                                            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.PuntosEsfuerzo, htmlAttributes: new { @class = "control-label col-md-12" })
                                        </div>
                                        <div class="col-md-7">
                                            @Html.EditorFor(model => model.PuntosEsfuerzo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PuntosEsfuerzo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="justify-content-center text-right">
                                            <input type="submit" value="Actualizar Actividad" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
