
@{
    ViewBag.Title = "Dashboard";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <style>
        .highcharts-figure, .highcharts-data-table table {
            min-width: 320px;
            max-width: 660px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>
}

<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card wow fadeIn">
            <div class="card-header">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>Seleccione la actividad </span>
                </h4>
            </div>
            <div class="card-body ">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card wow fadeIn">
            <div class="card-header">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>Estado de la actividad por fecha </span>
                </h4>
            </div>
            <div class="card-body ">
                <figure class="highcharts-figure">                   
                    <div id="container2"></div>
                </figure>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="card wow fadeIn">
            <div class="card-header">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>Cantidad de usuarios asociados a cada actividad </span>
                </h4>
            </div>
            <div class="card-body ">
                <figure class="highcharts-figure">
                    <p class="highcharts-description">
                        Usuarios asignados actividades en el proyecto
                    </p>
                    <div id="container3"></div>
                </figure>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card wow fadeIn">
            <div class="card-header">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>Estado general del proyecto </span>
                </h4>
            </div>
            <div class="card-body ">
                <figure class="highcharts-figure">
                    <p class="highcharts-description">
                        Estado del proyecto
                    </p>
                    <div id="container4"></div>
                </figure>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="card wow fadeIn">
            <div class="card-header">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>Usuarios asignaciones</span>
                </h4>
            </div>
            <!--Card content-->
            <div class="card-body ">
                <table class="table table-striped cell-border compact responsive" id="tblusuarios">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4 wow fadeIn">
            <div class="card-header">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>Volumen Diario</span>
                </h4>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge badge-danger"><span id="vencidos"></span></span> Tareas vencidas.</li>
                        <li class="list-group-item"><span class="badge badge-dark"><span id="vencidoslargos"></span></span> Tareas vencidas ultimos tres dias.</li>
                        <li class="list-group-item"><span class="badge badge-warning"><span id="proximosavencer"></span></span> Proximas a vencerse (tres dias).</li>
                        <li class="list-group-item"><span class="badge badge-success"><span id="finalizados"></span></span> Tareas finalizadas.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    @*<div class="col-md-6">
            <div class="card mb-4 wow fadeIn">
                <div class="card-header">
                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <span>Estado Gestion</span>
                    </h4>
                </div>

                <div class="card-body d-sm-flex justify-content-between">
                    <ul id="estadosls"></ul>
                </div>
            </div>
        </div>*@
    <div class="col-md-12">
        <div class="card mb-8 wow fadeIn">
            <div class="card-header">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <span>Actividades</span>
                </h4>
            </div>

            <div class="card-body justify-content-between">
                <div class="row">
                    <div class="col-md-6">
                        <h5> <label class="control-label col-md-12">Trabajos</label> </h5>
                        <hr />
                        <div id="tree"></div>
                    </div>
                    <div class="col-md-6">
                        <h5> <label class="control-label col-md-12">Trabajo seleccionado</label> </h5>
                        <hr />
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="control-label col-md-12">Nombre:</label>
                            </div>
                            <div class="col-md-9">
                                <span id="NombreTrabajoTexto"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="control-label col-md-12">Rol:</label>
                            </div>
                            <div class="col-md-9">
                                <span id="RolTrabajoTexto"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="control-label col-md-12">Cantidad:</label>
                            </div>
                            <div class="col-md-9">
                                <span id="CantidadTrabajoTexto"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="control-label col-md-12">Puntos Esfuerzo:</label>
                            </div>
                            <div class="col-md-9">
                                <span id="PuntosTrabajoTexto"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="control-label col-md-12">Estado:</label>
                            </div>
                            <div class="col-md-9">
                                <span id="EstadoTrabajoTexto"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="control-label col-md-12">Fecha esperada finalizacion:</label>
                            </div>
                            <div class="col-md-9">
                                <span id="FechaTrabajoTexto"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="control-label col-md-12">Asignado a:</label>
                            </div>
                            <div class="col-md-9">
                                <span id="AsignadoTrabajoTexto"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/ModalControl.js")
    @Scripts.Render("~/Scripts/Paginas/Trabajo/TrabajoDashboard.js")
    @Scripts.Render("~/Scripts/bootstrap-treeview.js")
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
        $(document).ready(function () {
            TrabajoDashboardJs.urlVolumenTrabajo = '@Url.Action("ConsultarVolumen")';
            TrabajoDashboardJs.urlEstadoGestion = '@Url.Action("ConsultarEstado")';
            TrabajoDashboardJs.urlUsuarioGestion = '@Url.Action("ConsultarGestionAsignacionUsuarios")';


            TrabajoDashboardJs.TrabajoDashboardJs = '@Url.Action("CrearAsignacionTrabajo")';
            TrabajoDashboardJs.urlObtenerListadoTrabajosPorId = '@Url.Action("ConsultarTrabajosPorPadre")';
            TrabajoDashboardJs.urlObtenerTrabajoPorId = '@Url.Action("ConsultarTrabajosPorId")';
            TrabajoDashboardJs.urlObtenerListadoTrabajos = '@Url.Action("ConsultarTrabajosPadres")';


            TrabajoDashboardJs.urlObtenerActividadesPorEstado = '@Url.Action("ConsultarGraficaActividadesPorEstado")';
            TrabajoDashboardJs.urlObtenerActividadesPorEstadoYFecha = '@Url.Action("ConsultarGraficaActividadesPorEstadoYFecha")';
            TrabajoDashboardJs.urlObtenerUsuariosAsignadosProyecto = '@Url.Action("ConsultarAsignacionesProyecto")';
            TrabajoDashboardJs.urlObtenerEstadoProyecto = '@Url.Action("ConsultarGraficaEstadoProyecto")';
            

            TrabajoDashboardJs.Inicializar();
        });
    </script>

}

